@use "./util.scss" as *;
@use "./home.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Dongle";
}

body {
	visibility: hidden;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: black;
}
